KENILITY_MONGODB_URI=mongodb://localhost:27017/nest_auth
KENILITY_JWT_SECRET=replace-me
KENILITY_REFRESH_SECRET=replace-me
KENILITY_BOOTSTRAP_TOKEN=replace-me
KENILITY_JWT_EXPIRES_SECONDS=900
KENILITY_REFRESH_EXPIRES_SECONDS=604800
KENILITY_PORT=3000
KENILITY_BCRYPT_ROUNDS=10
